/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
meta.foundation-version{font-family:"/5.4.1/"}meta.foundation-mq-small{font-family:"/only screen/";width:0}meta.foundation-mq-medium{font-family:"/only screen and (min-width:640px)/";width:640px}meta.foundation-mq-large{font-family:"/only screen and (min-width:800px)/";width:768px}meta.foundation-mq-xlarge{font-family:"/only screen and (min-width:1200px)/";width:1025px}meta.foundation-mq-xxlarge{font-family:"/only screen and (min-width:1400px)/";width:1400px}meta.foundation-data-attribute-namespace{font-family:false}html,body{height:100%}*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html,body{font-size:100%}body{padding:0;margin:0;font-weight:normal;font-style:normal;position:relative;cursor:auto}a:hover{cursor:pointer}img{max-width:100%;height:auto}img{-ms-interpolation-mode:bicubic}#map_canvas img,#map_canvas embed,#map_canvas object,.map_canvas img,.map_canvas embed,.map_canvas object{max-width:none !important}.left{float:left !important}.right{float:right !important}.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}.hide{display:none}.antialiased{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}img{display:inline-block;vertical-align:middle}textarea{height:auto;min-height:50px}select{width:100%}.text-left{text-align:left !important}.text-right{text-align:right !important}.text-center{text-align:center !important}.text-justify{text-align:justify !important}@media only screen and (max-width:640px - 1){.small-only-text-left{text-align:left !important}.small-only-text-right{text-align:right !important}.small-only-text-center{text-align:center !important}.small-only-text-justify{text-align:justify !important}}@media only screen{.small-text-left{text-align:left !important}.small-text-right{text-align:right !important}.small-text-center{text-align:center !important}.small-text-justify{text-align:justify !important}}@media only screen and (min-width:640px) and (max-width:768px - 1){.medium-only-text-left{text-align:left !important}.medium-only-text-right{text-align:right !important}.medium-only-text-center{text-align:center !important}.medium-only-text-justify{text-align:justify !important}}@media only screen and (min-width:640px){.medium-text-left{text-align:left !important}.medium-text-right{text-align:right !important}.medium-text-center{text-align:center !important}.medium-text-justify{text-align:justify !important}}@media only screen and (min-width:768px) and (max-width:1025px - 1){.large-only-text-left{text-align:left !important}.large-only-text-right{text-align:right !important}.large-only-text-center{text-align:center !important}.large-only-text-justify{text-align:justify !important}}@media only screen and (min-width:768px){.large-text-left{text-align:left !important}.large-text-right{text-align:right !important}.large-text-center{text-align:center !important}.large-text-justify{text-align:justify !important}}@media only screen and (min-width:1025px) and (max-width:1400px - 1){.xlarge-only-text-left{text-align:left !important}.xlarge-only-text-right{text-align:right !important}.xlarge-only-text-center{text-align:center !important}.xlarge-only-text-justify{text-align:justify !important}}@media only screen and (min-width:1025px){.xlarge-text-left{text-align:left !important}.xlarge-text-right{text-align:right !important}.xlarge-text-center{text-align:center !important}.xlarge-text-justify{text-align:justify !important}}@media only screen and (min-width:1400px) and (max-width:1400px * 99999){.xxlarge-only-text-left{text-align:left !important}.xxlarge-only-text-right{text-align:right !important}.xxlarge-only-text-center{text-align:center !important}.xxlarge-only-text-justify{text-align:justify !important}}@media only screen and (min-width:1400px){.xxlarge-text-left{text-align:left !important}.xxlarge-text-right{text-align:right !important}.xxlarge-text-center{text-align:center !important}.xxlarge-text-justify{text-align:justify !important}}@media only screen{.show-for-small-only,.show-for-small-up,.show-for-small,.show-for-small-down,.hide-for-medium-only,.hide-for-medium-up,.hide-for-medium,.show-for-medium-down,.hide-for-large-only,.hide-for-large-up,.hide-for-large,.show-for-large-down,.hide-for-xlarge-only,.hide-for-xlarge-up,.hide-for-xxlarge-only,.hide-for-xxlarge-up{display:inherit !important}.hide-for-small-only,.hide-for-small-up,.hide-for-small,.hide-for-small-down,.show-for-medium-only,.show-for-medium-up,.show-for-medium,.hide-for-medium-down,.show-for-large-only,.show-for-large-up,.show-for-large,.hide-for-large-down,.show-for-xlarge-only,.show-for-xlarge-up,.show-for-xxlarge-only,.show-for-xxlarge-up{display:none !important}.visible-for-small-only,.visible-for-small-up,.visible-for-small,.visible-for-small-down,.hidden-for-medium-only,.hidden-for-medium-up,.hidden-for-medium,.visible-for-medium-down,.hidden-for-large-only,.hidden-for-large-up,.hidden-for-large,.visible-for-large-down,.hidden-for-xlarge-only,.hidden-for-xlarge-up,.hidden-for-xxlarge-only,.hidden-for-xxlarge-up{position:static !important;height:auto;width:auto;overflow:visible;clip:auto}.hidden-for-small-only,.hidden-for-small-up,.hidden-for-small,.hidden-for-small-down,.visible-for-medium-only,.visible-for-medium-up,.visible-for-medium,.hidden-for-medium-down,.visible-for-large-only,.visible-for-large-up,.visible-for-large,.hidden-for-large-down,.visible-for-xlarge-only,.visible-for-xlarge-up,.visible-for-xxlarge-only,.visible-for-xxlarge-up{position:absolute !important;height:1px;width:1px;overflow:hidden;clip:rect(1px, 1px, 1px, 1px)}table.show-for-small-only,table.show-for-small-up,table.show-for-small,table.show-for-small-down,table.hide-for-medium-only,table.hide-for-medium-up,table.hide-for-medium,table.show-for-medium-down,table.hide-for-large-only,table.hide-for-large-up,table.hide-for-large,table.show-for-large-down,table.hide-for-xlarge-only,table.hide-for-xlarge-up,table.hide-for-xxlarge-only,table.hide-for-xxlarge-up{display:table !important}thead.show-for-small-only,thead.show-for-small-up,thead.show-for-small,thead.show-for-small-down,thead.hide-for-medium-only,thead.hide-for-medium-up,thead.hide-for-medium,thead.show-for-medium-down,thead.hide-for-large-only,thead.hide-for-large-up,thead.hide-for-large,thead.show-for-large-down,thead.hide-for-xlarge-only,thead.hide-for-xlarge-up,thead.hide-for-xxlarge-only,thead.hide-for-xxlarge-up{display:table-header-group !important}tbody.show-for-small-only,tbody.show-for-small-up,tbody.show-for-small,tbody.show-for-small-down,tbody.hide-for-medium-only,tbody.hide-for-medium-up,tbody.hide-for-medium,tbody.show-for-medium-down,tbody.hide-for-large-only,tbody.hide-for-large-up,tbody.hide-for-large,tbody.show-for-large-down,tbody.hide-for-xlarge-only,tbody.hide-for-xlarge-up,tbody.hide-for-xxlarge-only,tbody.hide-for-xxlarge-up{display:table-row-group !important}tr.show-for-small-only,tr.show-for-small-up,tr.show-for-small,tr.show-for-small-down,tr.hide-for-medium-only,tr.hide-for-medium-up,tr.hide-for-medium,tr.show-for-medium-down,tr.hide-for-large-only,tr.hide-for-large-up,tr.hide-for-large,tr.show-for-large-down,tr.hide-for-xlarge-only,tr.hide-for-xlarge-up,tr.hide-for-xxlarge-only,tr.hide-for-xxlarge-up{display:table-row !important}th.show-for-small-only,td.show-for-small-only,th.show-for-small-up,td.show-for-small-up,th.show-for-small,td.show-for-small,th.show-for-small-down,td.show-for-small-down,th.hide-for-medium-only,td.hide-for-medium-only,th.hide-for-medium-up,td.hide-for-medium-up,th.hide-for-medium,td.hide-for-medium,th.show-for-medium-down,td.show-for-medium-down,th.hide-for-large-only,td.hide-for-large-only,th.hide-for-large-up,td.hide-for-large-up,th.hide-for-large,td.hide-for-large,th.show-for-large-down,td.show-for-large-down,th.hide-for-xlarge-only,td.hide-for-xlarge-only,th.hide-for-xlarge-up,td.hide-for-xlarge-up,th.hide-for-xxlarge-only,td.hide-for-xxlarge-only,th.hide-for-xxlarge-up,td.hide-for-xxlarge-up{display:table-cell !important}}@media only screen and (min-width:640px){.hide-for-small-only,.show-for-small-up,.hide-for-small,.hide-for-small-down,.show-for-medium-only,.show-for-medium-up,.show-for-medium,.show-for-medium-down,.hide-for-large-only,.hide-for-large-up,.hide-for-large,.show-for-large-down,.hide-for-xlarge-only,.hide-for-xlarge-up,.hide-for-xxlarge-only,.hide-for-xxlarge-up{display:inherit !important}.show-for-small-only,.hide-for-small-up,.show-for-small,.show-for-small-down,.hide-for-medium-only,.hide-for-medium-up,.hide-for-medium,.hide-for-medium-down,.show-for-large-only,.show-for-large-up,.show-for-large,.hide-for-large-down,.show-for-xlarge-only,.show-for-xlarge-up,.show-for-xxlarge-only,.show-for-xxlarge-up{display:none !important}.hidden-for-small-only,.visible-for-small-up,.hidden-for-small,.hidden-for-small-down,.visible-for-medium-only,.visible-for-medium-up,.visible-for-medium,.visible-for-medium-down,.hidden-for-large-only,.hidden-for-large-up,.hidden-for-large,.visible-for-large-down,.hidden-for-xlarge-only,.hidden-for-xlarge-up,.hidden-for-xxlarge-only,.hidden-for-xxlarge-up{position:static !important;height:auto;width:auto;overflow:visible;clip:auto}.visible-for-small-only,.hidden-for-small-up,.visible-for-small,.visible-for-small-down,.hidden-for-medium-only,.hidden-for-medium-up,.hidden-for-medium,.hidden-for-medium-down,.visible-for-large-only,.visible-for-large-up,.visible-for-large,.hidden-for-large-down,.visible-for-xlarge-only,.visible-for-xlarge-up,.visible-for-xxlarge-only,.visible-for-xxlarge-up{position:absolute !important;height:1px;width:1px;overflow:hidden;clip:rect(1px, 1px, 1px, 1px)}table.hide-for-small-only,table.show-for-small-up,table.hide-for-small,table.hide-for-small-down,table.show-for-medium-only,table.show-for-medium-up,table.show-for-medium,table.show-for-medium-down,table.hide-for-large-only,table.hide-for-large-up,table.hide-for-large,table.show-for-large-down,table.hide-for-xlarge-only,table.hide-for-xlarge-up,table.hide-for-xxlarge-only,table.hide-for-xxlarge-up{display:table !important}thead.hide-for-small-only,thead.show-for-small-up,thead.hide-for-small,thead.hide-for-small-down,thead.show-for-medium-only,thead.show-for-medium-up,thead.show-for-medium,thead.show-for-medium-down,thead.hide-for-large-only,thead.hide-for-large-up,thead.hide-for-large,thead.show-for-large-down,thead.hide-for-xlarge-only,thead.hide-for-xlarge-up,thead.hide-for-xxlarge-only,thead.hide-for-xxlarge-up{display:table-header-group !important}tbody.hide-for-small-only,tbody.show-for-small-up,tbody.hide-for-small,tbody.hide-for-small-down,tbody.show-for-medium-only,tbody.show-for-medium-up,tbody.show-for-medium,tbody.show-for-medium-down,tbody.hide-for-large-only,tbody.hide-for-large-up,tbody.hide-for-large,tbody.show-for-large-down,tbody.hide-for-xlarge-only,tbody.hide-for-xlarge-up,tbody.hide-for-xxlarge-only,tbody.hide-for-xxlarge-up{display:table-row-group !important}tr.hide-for-small-only,tr.show-for-small-up,tr.hide-for-small,tr.hide-for-small-down,tr.show-for-medium-only,tr.show-for-medium-up,tr.show-for-medium,tr.show-for-medium-down,tr.hide-for-large-only,tr.hide-for-large-up,tr.hide-for-large,tr.show-for-large-down,tr.hide-for-xlarge-only,tr.hide-for-xlarge-up,tr.hide-for-xxlarge-only,tr.hide-for-xxlarge-up{display:table-row !important}th.hide-for-small-only,td.hide-for-small-only,th.show-for-small-up,td.show-for-small-up,th.hide-for-small,td.hide-for-small,th.hide-for-small-down,td.hide-for-small-down,th.show-for-medium-only,td.show-for-medium-only,th.show-for-medium-up,td.show-for-medium-up,th.show-for-medium,td.show-for-medium,th.show-for-medium-down,td.show-for-medium-down,th.hide-for-large-only,td.hide-for-large-only,th.hide-for-large-up,td.hide-for-large-up,th.hide-for-large,td.hide-for-large,th.show-for-large-down,td.show-for-large-down,th.hide-for-xlarge-only,td.hide-for-xlarge-only,th.hide-for-xlarge-up,td.hide-for-xlarge-up,th.hide-for-xxlarge-only,td.hide-for-xxlarge-only,th.hide-for-xxlarge-up,td.hide-for-xxlarge-up{display:table-cell !important}}@media only screen and (min-width:768px){.hide-for-small-only,.show-for-small-up,.hide-for-small,.hide-for-small-down,.hide-for-medium-only,.show-for-medium-up,.hide-for-medium,.hide-for-medium-down,.show-for-large-only,.show-for-large-up,.show-for-large,.show-for-large-down,.hide-for-xlarge-only,.hide-for-xlarge-up,.hide-for-xxlarge-only,.hide-for-xxlarge-up{display:inherit !important}.show-for-small-only,.hide-for-small-up,.show-for-small,.show-for-small-down,.show-for-medium-only,.hide-for-medium-up,.show-for-medium,.show-for-medium-down,.hide-for-large-only,.hide-for-large-up,.hide-for-large,.hide-for-large-down,.show-for-xlarge-only,.show-for-xlarge-up,.show-for-xxlarge-only,.show-for-xxlarge-up{display:none !important}.hidden-for-small-only,.visible-for-small-up,.hidden-for-small,.hidden-for-small-down,.hidden-for-medium-only,.visible-for-medium-up,.hidden-for-medium,.hidden-for-medium-down,.visible-for-large-only,.visible-for-large-up,.visible-for-large,.visible-for-large-down,.hidden-for-xlarge-only,.hidden-for-xlarge-up,.hidden-for-xxlarge-only,.hidden-for-xxlarge-up{position:static !important;height:auto;width:auto;overflow:visible;clip:auto}.visible-for-small-only,.hidden-for-small-up,.visible-for-small,.visible-for-small-down,.visible-for-medium-only,.hidden-for-medium-up,.visible-for-medium,.visible-for-medium-down,.hidden-for-large-only,.hidden-for-large-up,.hidden-for-large,.hidden-for-large-down,.visible-for-xlarge-only,.visible-for-xlarge-up,.visible-for-xxlarge-only,.visible-for-xxlarge-up{position:absolute !important;height:1px;width:1px;overflow:hidden;clip:rect(1px, 1px, 1px, 1px)}table.hide-for-small-only,table.show-for-small-up,table.hide-for-small,table.hide-for-small-down,table.hide-for-medium-only,table.show-for-medium-up,table.hide-for-medium,table.hide-for-medium-down,table.show-for-large-only,table.show-for-large-up,table.show-for-large,table.show-for-large-down,table.hide-for-xlarge-only,table.hide-for-xlarge-up,table.hide-for-xxlarge-only,table.hide-for-xxlarge-up{display:table !important}thead.hide-for-small-only,thead.show-for-small-up,thead.hide-for-small,thead.hide-for-small-down,thead.hide-for-medium-only,thead.show-for-medium-up,thead.hide-for-medium,thead.hide-for-medium-down,thead.show-for-large-only,thead.show-for-large-up,thead.show-for-large,thead.show-for-large-down,thead.hide-for-xlarge-only,thead.hide-for-xlarge-up,thead.hide-for-xxlarge-only,thead.hide-for-xxlarge-up{display:table-header-group !important}tbody.hide-for-small-only,tbody.show-for-small-up,tbody.hide-for-small,tbody.hide-for-small-down,tbody.hide-for-medium-only,tbody.show-for-medium-up,tbody.hide-for-medium,tbody.hide-for-medium-down,tbody.show-for-large-only,tbody.show-for-large-up,tbody.show-for-large,tbody.show-for-large-down,tbody.hide-for-xlarge-only,tbody.hide-for-xlarge-up,tbody.hide-for-xxlarge-only,tbody.hide-for-xxlarge-up{display:table-row-group !important}tr.hide-for-small-only,tr.show-for-small-up,tr.hide-for-small,tr.hide-for-small-down,tr.hide-for-medium-only,tr.show-for-medium-up,tr.hide-for-medium,tr.hide-for-medium-down,tr.show-for-large-only,tr.show-for-large-up,tr.show-for-large,tr.show-for-large-down,tr.hide-for-xlarge-only,tr.hide-for-xlarge-up,tr.hide-for-xxlarge-only,tr.hide-for-xxlarge-up{display:table-row !important}th.hide-for-small-only,td.hide-for-small-only,th.show-for-small-up,td.show-for-small-up,th.hide-for-small,td.hide-for-small,th.hide-for-small-down,td.hide-for-small-down,th.hide-for-medium-only,td.hide-for-medium-only,th.show-for-medium-up,td.show-for-medium-up,th.hide-for-medium,td.hide-for-medium,th.hide-for-medium-down,td.hide-for-medium-down,th.show-for-large-only,td.show-for-large-only,th.show-for-large-up,td.show-for-large-up,th.show-for-large,td.show-for-large,th.show-for-large-down,td.show-for-large-down,th.hide-for-xlarge-only,td.hide-for-xlarge-only,th.hide-for-xlarge-up,td.hide-for-xlarge-up,th.hide-for-xxlarge-only,td.hide-for-xxlarge-only,th.hide-for-xxlarge-up,td.hide-for-xxlarge-up{display:table-cell !important}}@media only screen and (min-width:1025px){.hide-for-small-only,.show-for-small-up,.hide-for-small,.hide-for-small-down,.hide-for-medium-only,.show-for-medium-up,.hide-for-medium,.hide-for-medium-down,.hide-for-large-only,.show-for-large-up,.hide-for-large,.hide-for-large-down,.show-for-xlarge-only,.show-for-xlarge-up,.hide-for-xxlarge-only,.hide-for-xxlarge-up{display:inherit !important}.show-for-small-only,.hide-for-small-up,.show-for-small,.show-for-small-down,.show-for-medium-only,.hide-for-medium-up,.show-for-medium,.show-for-medium-down,.show-for-large-only,.hide-for-large-up,.show-for-large,.show-for-large-down,.hide-for-xlarge-only,.hide-for-xlarge-up,.show-for-xxlarge-only,.show-for-xxlarge-up{display:none !important}.hidden-for-small-only,.visible-for-small-up,.hidden-for-small,.hidden-for-small-down,.hidden-for-medium-only,.visible-for-medium-up,.hidden-for-medium,.hidden-for-medium-down,.hidden-for-large-only,.visible-for-large-up,.hidden-for-large,.hidden-for-large-down,.visible-for-xlarge-only,.visible-for-xlarge-up,.hidden-for-xxlarge-only,.hidden-for-xxlarge-up{position:static !important;height:auto;width:auto;overflow:visible;clip:auto}.visible-for-small-only,.hidden-for-small-up,.visible-for-small,.visible-for-small-down,.visible-for-medium-only,.hidden-for-medium-up,.visible-for-medium,.visible-for-medium-down,.visible-for-large-only,.hidden-for-large-up,.visible-for-large,.visible-for-large-down,.hidden-for-xlarge-only,.hidden-for-xlarge-up,.visible-for-xxlarge-only,.visible-for-xxlarge-up{position:absolute !important;height:1px;width:1px;overflow:hidden;clip:rect(1px, 1px, 1px, 1px)}table.hide-for-small-only,table.show-for-small-up,table.hide-for-small,table.hide-for-small-down,table.hide-for-medium-only,table.show-for-medium-up,table.hide-for-medium,table.hide-for-medium-down,table.hide-for-large-only,table.show-for-large-up,table.hide-for-large,table.hide-for-large-down,table.show-for-xlarge-only,table.show-for-xlarge-up,table.hide-for-xxlarge-only,table.hide-for-xxlarge-up{display:table !important}thead.hide-for-small-only,thead.show-for-small-up,thead.hide-for-small,thead.hide-for-small-down,thead.hide-for-medium-only,thead.show-for-medium-up,thead.hide-for-medium,thead.hide-for-medium-down,thead.hide-for-large-only,thead.show-for-large-up,thead.hide-for-large,thead.hide-for-large-down,thead.show-for-xlarge-only,thead.show-for-xlarge-up,thead.hide-for-xxlarge-only,thead.hide-for-xxlarge-up{display:table-header-group !important}tbody.hide-for-small-only,tbody.show-for-small-up,tbody.hide-for-small,tbody.hide-for-small-down,tbody.hide-for-medium-only,tbody.show-for-medium-up,tbody.hide-for-medium,tbody.hide-for-medium-down,tbody.hide-for-large-only,tbody.show-for-large-up,tbody.hide-for-large,tbody.hide-for-large-down,tbody.show-for-xlarge-only,tbody.show-for-xlarge-up,tbody.hide-for-xxlarge-only,tbody.hide-for-xxlarge-up{display:table-row-group !important}tr.hide-for-small-only,tr.show-for-small-up,tr.hide-for-small,tr.hide-for-small-down,tr.hide-for-medium-only,tr.show-for-medium-up,tr.hide-for-medium,tr.hide-for-medium-down,tr.hide-for-large-only,tr.show-for-large-up,tr.hide-for-large,tr.hide-for-large-down,tr.show-for-xlarge-only,tr.show-for-xlarge-up,tr.hide-for-xxlarge-only,tr.hide-for-xxlarge-up{display:table-row !important}th.hide-for-small-only,td.hide-for-small-only,th.show-for-small-up,td.show-for-small-up,th.hide-for-small,td.hide-for-small,th.hide-for-small-down,td.hide-for-small-down,th.hide-for-medium-only,td.hide-for-medium-only,th.show-for-medium-up,td.show-for-medium-up,th.hide-for-medium,td.hide-for-medium,th.hide-for-medium-down,td.hide-for-medium-down,th.hide-for-large-only,td.hide-for-large-only,th.show-for-large-up,td.show-for-large-up,th.hide-for-large,td.hide-for-large,th.hide-for-large-down,td.hide-for-large-down,th.show-for-xlarge-only,td.show-for-xlarge-only,th.show-for-xlarge-up,td.show-for-xlarge-up,th.hide-for-xxlarge-only,td.hide-for-xxlarge-only,th.hide-for-xxlarge-up,td.hide-for-xxlarge-up{display:table-cell !important}}@media only screen and (min-width:1400px){.hide-for-small-only,.show-for-small-up,.hide-for-small,.hide-for-small-down,.hide-for-medium-only,.show-for-medium-up,.hide-for-medium,.hide-for-medium-down,.hide-for-large-only,.show-for-large-up,.hide-for-large,.hide-for-large-down,.hide-for-xlarge-only,.show-for-xlarge-up,.show-for-xxlarge-only,.show-for-xxlarge-up{display:inherit !important}.show-for-small-only,.hide-for-small-up,.show-for-small,.show-for-small-down,.show-for-medium-only,.hide-for-medium-up,.show-for-medium,.show-for-medium-down,.show-for-large-only,.hide-for-large-up,.show-for-large,.show-for-large-down,.show-for-xlarge-only,.hide-for-xlarge-up,.hide-for-xxlarge-only,.hide-for-xxlarge-up{display:none !important}.hidden-for-small-only,.visible-for-small-up,.hidden-for-small,.hidden-for-small-down,.hidden-for-medium-only,.visible-for-medium-up,.hidden-for-medium,.hidden-for-medium-down,.hidden-for-large-only,.visible-for-large-up,.hidden-for-large,.hidden-for-large-down,.hidden-for-xlarge-only,.visible-for-xlarge-up,.visible-for-xxlarge-only,.visible-for-xxlarge-up{position:static !important;height:auto;width:auto;overflow:visible;clip:auto}.visible-for-small-only,.hidden-for-small-up,.visible-for-small,.visible-for-small-down,.visible-for-medium-only,.hidden-for-medium-up,.visible-for-medium,.visible-for-medium-down,.visible-for-large-only,.hidden-for-large-up,.visible-for-large,.visible-for-large-down,.visible-for-xlarge-only,.hidden-for-xlarge-up,.hidden-for-xxlarge-only,.hidden-for-xxlarge-up{position:absolute !important;height:1px;width:1px;overflow:hidden;clip:rect(1px, 1px, 1px, 1px)}table.hide-for-small-only,table.show-for-small-up,table.hide-for-small,table.hide-for-small-down,table.hide-for-medium-only,table.show-for-medium-up,table.hide-for-medium,table.hide-for-medium-down,table.hide-for-large-only,table.show-for-large-up,table.hide-for-large,table.hide-for-large-down,table.hide-for-xlarge-only,table.show-for-xlarge-up,table.show-for-xxlarge-only,table.show-for-xxlarge-up{display:table !important}thead.hide-for-small-only,thead.show-for-small-up,thead.hide-for-small,thead.hide-for-small-down,thead.hide-for-medium-only,thead.show-for-medium-up,thead.hide-for-medium,thead.hide-for-medium-down,thead.hide-for-large-only,thead.show-for-large-up,thead.hide-for-large,thead.hide-for-large-down,thead.hide-for-xlarge-only,thead.show-for-xlarge-up,thead.show-for-xxlarge-only,thead.show-for-xxlarge-up{display:table-header-group !important}tbody.hide-for-small-only,tbody.show-for-small-up,tbody.hide-for-small,tbody.hide-for-small-down,tbody.hide-for-medium-only,tbody.show-for-medium-up,tbody.hide-for-medium,tbody.hide-for-medium-down,tbody.hide-for-large-only,tbody.show-for-large-up,tbody.hide-for-large,tbody.hide-for-large-down,tbody.hide-for-xlarge-only,tbody.show-for-xlarge-up,tbody.show-for-xxlarge-only,tbody.show-for-xxlarge-up{display:table-row-group !important}tr.hide-for-small-only,tr.show-for-small-up,tr.hide-for-small,tr.hide-for-small-down,tr.hide-for-medium-only,tr.show-for-medium-up,tr.hide-for-medium,tr.hide-for-medium-down,tr.hide-for-large-only,tr.show-for-large-up,tr.hide-for-large,tr.hide-for-large-down,tr.hide-for-xlarge-only,tr.show-for-xlarge-up,tr.show-for-xxlarge-only,tr.show-for-xxlarge-up{display:table-row !important}th.hide-for-small-only,td.hide-for-small-only,th.show-for-small-up,td.show-for-small-up,th.hide-for-small,td.hide-for-small,th.hide-for-small-down,td.hide-for-small-down,th.hide-for-medium-only,td.hide-for-medium-only,th.show-for-medium-up,td.show-for-medium-up,th.hide-for-medium,td.hide-for-medium,th.hide-for-medium-down,td.hide-for-medium-down,th.hide-for-large-only,td.hide-for-large-only,th.show-for-large-up,td.show-for-large-up,th.hide-for-large,td.hide-for-large,th.hide-for-large-down,td.hide-for-large-down,th.hide-for-xlarge-only,td.hide-for-xlarge-only,th.show-for-xlarge-up,td.show-for-xlarge-up,th.show-for-xxlarge-only,td.show-for-xxlarge-only,th.show-for-xxlarge-up,td.show-for-xxlarge-up{display:table-cell !important}}.show-for-landscape,.hide-for-portrait{display:inherit !important}.hide-for-landscape,.show-for-portrait{display:none !important}table.hide-for-landscape,table.show-for-portrait{display:table !important}thead.hide-for-landscape,thead.show-for-portrait{display:table-header-group !important}tbody.hide-for-landscape,tbody.show-for-portrait{display:table-row-group !important}tr.hide-for-landscape,tr.show-for-portrait{display:table-row !important}td.hide-for-landscape,td.show-for-portrait,th.hide-for-landscape,th.show-for-portrait{display:table-cell !important}@media only screen and (orientation:landscape){.show-for-landscape,.hide-for-portrait{display:inherit !important}.hide-for-landscape,.show-for-portrait{display:none !important}table.show-for-landscape,table.hide-for-portrait{display:table !important}thead.show-for-landscape,thead.hide-for-portrait{display:table-header-group !important}tbody.show-for-landscape,tbody.hide-for-portrait{display:table-row-group !important}tr.show-for-landscape,tr.hide-for-portrait{display:table-row !important}td.show-for-landscape,td.hide-for-portrait,th.show-for-landscape,th.hide-for-portrait{display:table-cell !important}}@media only screen and (orientation:portrait){.show-for-portrait,.hide-for-landscape{display:inherit !important}.hide-for-portrait,.show-for-landscape{display:none !important}table.show-for-portrait,table.hide-for-landscape{display:table !important}thead.show-for-portrait,thead.hide-for-landscape{display:table-header-group !important}tbody.show-for-portrait,tbody.hide-for-landscape{display:table-row-group !important}tr.show-for-portrait,tr.hide-for-landscape{display:table-row !important}td.show-for-portrait,td.hide-for-landscape,th.show-for-portrait,th.hide-for-landscape{display:table-cell !important}}.show-for-touch{display:none !important}.hide-for-touch{display:inherit !important}.touch .show-for-touch{display:inherit !important}.touch .hide-for-touch{display:none !important}table.hide-for-touch{display:table !important}.touch table.show-for-touch{display:table !important}thead.hide-for-touch{display:table-header-group !important}.touch thead.show-for-touch{display:table-header-group !important}tbody.hide-for-touch{display:table-row-group !important}.touch tbody.show-for-touch{display:table-row-group !important}tr.hide-for-touch{display:table-row !important}.touch tr.show-for-touch{display:table-row !important}td.hide-for-touch{display:table-cell !important}.touch td.show-for-touch{display:table-cell !important}th.hide-for-touch{display:table-cell !important}.touch th.show-for-touch{display:table-cell !important}@media print{.show-for-print{display:block}.hide-for-print{display:none}table.show-for-print{display:table !important}thead.show-for-print{display:table-header-group !important}tbody.show-for-print{display:table-row-group !important}tr.show-for-print{display:table-row !important}td.show-for-print{display:table-cell !important}th.show-for-print{display:table-cell !important}}@font-face{font-family:'Sabon';src:url('../font/sabon/lte50384.eot');src:url('../font/sabon/lte50384.eot') format('embedded-opentype'),url('../font/sabon/lte50384.woff2') format('woff2'),url('../font/sabon/lte50384.woff') format('woff'),url('../font/sabon/lte50384.ttf') format('truetype'),url('../font/sabon/lte50384.svg#SabonLTItalic') format('svg');font-style:italic}.icon.icon-apple.color:before{background-image:url("../images/icons/apple-color.svg")}.icon.icon-apple.white:before{background-image:url("../images/icons/apple-white.svg")}.icon.icon-apple.black:before{background-image:url("../images/icons/apple-black.svg")}.icon.icon-apple.primary:before{background-image:url("../images/icons/apple-primary.svg")}.icon.icon-apple.secondary:before{background-image:url("../images/icons/apple-secondary.svg")}.icon.icon-apple.tertiary:before{background-image:url("../images/icons/apple-tertiary.svg")}.icon.icon-arrow-down.color:before{background-image:url("../images/icons/arrow-down-color.svg")}.icon.icon-arrow-down.white:before{background-image:url("../images/icons/arrow-down-white.svg")}.icon.icon-arrow-down.black:before{background-image:url("../images/icons/arrow-down-black.svg")}.icon.icon-arrow-down.primary:before{background-image:url("../images/icons/arrow-down-primary.svg")}.icon.icon-arrow-down.secondary:before{background-image:url("../images/icons/arrow-down-secondary.svg")}.icon.icon-arrow-down.tertiary:before{background-image:url("../images/icons/arrow-down-tertiary.svg")}.icon.icon-arrow-left.color:before{background-image:url("../images/icons/arrow-left-color.svg")}.icon.icon-arrow-left.white:before{background-image:url("../images/icons/arrow-left-white.svg")}.icon.icon-arrow-left.black:before{background-image:url("../images/icons/arrow-left-black.svg")}.icon.icon-arrow-left.primary:before{background-image:url("../images/icons/arrow-left-primary.svg")}.icon.icon-arrow-left.secondary:before{background-image:url("../images/icons/arrow-left-secondary.svg")}.icon.icon-arrow-left.tertiary:before{background-image:url("../images/icons/arrow-left-tertiary.svg")}.icon.icon-arrow-right.color:before{background-image:url("../images/icons/arrow-right-color.svg")}.icon.icon-arrow-right.white:before{background-image:url("../images/icons/arrow-right-white.svg")}.icon.icon-arrow-right.black:before{background-image:url("../images/icons/arrow-right-black.svg")}.icon.icon-arrow-right.primary:before{background-image:url("../images/icons/arrow-right-primary.svg")}.icon.icon-arrow-right.secondary:before{background-image:url("../images/icons/arrow-right-secondary.svg")}.icon.icon-arrow-right.tertiary:before{background-image:url("../images/icons/arrow-right-tertiary.svg")}.icon.icon-arrow-up.color:before{background-image:url("../images/icons/arrow-up-color.svg")}.icon.icon-arrow-up.white:before{background-image:url("../images/icons/arrow-up-white.svg")}.icon.icon-arrow-up.black:before{background-image:url("../images/icons/arrow-up-black.svg")}.icon.icon-arrow-up.primary:before{background-image:url("../images/icons/arrow-up-primary.svg")}.icon.icon-arrow-up.secondary:before{background-image:url("../images/icons/arrow-up-secondary.svg")}.icon.icon-arrow-up.tertiary:before{background-image:url("../images/icons/arrow-up-tertiary.svg")}.icon.icon-beaker.color:before{background-image:url("../images/icons/beaker-color.svg")}.icon.icon-beaker.white:before{background-image:url("../images/icons/beaker-white.svg")}.icon.icon-beaker.black:before{background-image:url("../images/icons/beaker-black.svg")}.icon.icon-beaker.primary:before{background-image:url("../images/icons/beaker-primary.svg")}.icon.icon-beaker.secondary:before{background-image:url("../images/icons/beaker-secondary.svg")}.icon.icon-beaker.tertiary:before{background-image:url("../images/icons/beaker-tertiary.svg")}.icon.icon-box-right.color:before{background-image:url("../images/icons/box-right-color.svg")}.icon.icon-box-right.white:before{background-image:url("../images/icons/box-right-white.svg")}.icon.icon-box-right.black:before{background-image:url("../images/icons/box-right-black.svg")}.icon.icon-box-right.primary:before{background-image:url("../images/icons/box-right-primary.svg")}.icon.icon-box-right.secondary:before{background-image:url("../images/icons/box-right-secondary.svg")}.icon.icon-box-right.tertiary:before{background-image:url("../images/icons/box-right-tertiary.svg")}.icon.icon-briefcase.color:before{background-image:url("../images/icons/briefcase-color.svg")}.icon.icon-briefcase.white:before{background-image:url("../images/icons/briefcase-white.svg")}.icon.icon-briefcase.black:before{background-image:url("../images/icons/briefcase-black.svg")}.icon.icon-briefcase.primary:before{background-image:url("../images/icons/briefcase-primary.svg")}.icon.icon-briefcase.secondary:before{background-image:url("../images/icons/briefcase-secondary.svg")}.icon.icon-briefcase.tertiary:before{background-image:url("../images/icons/briefcase-tertiary.svg")}.icon.icon-brush.color:before{background-image:url("../images/icons/brush-color.svg")}.icon.icon-brush.white:before{background-image:url("../images/icons/brush-white.svg")}.icon.icon-brush.black:before{background-image:url("../images/icons/brush-black.svg")}.icon.icon-brush.primary:before{background-image:url("../images/icons/brush-primary.svg")}.icon.icon-brush.secondary:before{background-image:url("../images/icons/brush-secondary.svg")}.icon.icon-brush.tertiary:before{background-image:url("../images/icons/brush-tertiary.svg")}.icon.icon-calendar.color:before{background-image:url("../images/icons/calendar-color.svg")}.icon.icon-calendar.white:before{background-image:url("../images/icons/calendar-white.svg")}.icon.icon-calendar.black:before{background-image:url("../images/icons/calendar-black.svg")}.icon.icon-calendar.primary:before{background-image:url("../images/icons/calendar-primary.svg")}.icon.icon-calendar.secondary:before{background-image:url("../images/icons/calendar-secondary.svg")}.icon.icon-calendar.tertiary:before{background-image:url("../images/icons/calendar-tertiary.svg")}.icon.icon-chevron-down.color:before{background-image:url("../images/icons/chevron-down-color.svg")}.icon.icon-chevron-down.white:before{background-image:url("../images/icons/chevron-down-white.svg")}.icon.icon-chevron-down.black:before{background-image:url("../images/icons/chevron-down-black.svg")}.icon.icon-chevron-down.primary:before{background-image:url("../images/icons/chevron-down-primary.svg")}.icon.icon-chevron-down.secondary:before{background-image:url("../images/icons/chevron-down-secondary.svg")}.icon.icon-chevron-down.tertiary:before{background-image:url("../images/icons/chevron-down-tertiary.svg")}.icon.icon-chevron-left.color:before{background-image:url("../images/icons/chevron-left-color.svg")}.icon.icon-chevron-left.white:before{background-image:url("../images/icons/chevron-left-white.svg")}.icon.icon-chevron-left.black:before{background-image:url("../images/icons/chevron-left-black.svg")}.icon.icon-chevron-left.primary:before{background-image:url("../images/icons/chevron-left-primary.svg")}.icon.icon-chevron-left.secondary:before{background-image:url("../images/icons/chevron-left-secondary.svg")}.icon.icon-chevron-left.tertiary:before{background-image:url("../images/icons/chevron-left-tertiary.svg")}.icon.icon-chevron-right.color:before{background-image:url("../images/icons/chevron-right-color.svg")}.icon.icon-chevron-right.white:before{background-image:url("../images/icons/chevron-right-white.svg")}.icon.icon-chevron-right.black:before{background-image:url("../images/icons/chevron-right-black.svg")}.icon.icon-chevron-right.primary:before{background-image:url("../images/icons/chevron-right-primary.svg")}.icon.icon-chevron-right.secondary:before{background-image:url("../images/icons/chevron-right-secondary.svg")}.icon.icon-chevron-right.tertiary:before{background-image:url("../images/icons/chevron-right-tertiary.svg")}.icon.icon-chevron-top.color:before{background-image:url("../images/icons/chevron-top-color.svg")}.icon.icon-chevron-top.white:before{background-image:url("../images/icons/chevron-top-white.svg")}.icon.icon-chevron-top.black:before{background-image:url("../images/icons/chevron-top-black.svg")}.icon.icon-chevron-top.primary:before{background-image:url("../images/icons/chevron-top-primary.svg")}.icon.icon-chevron-top.secondary:before{background-image:url("../images/icons/chevron-top-secondary.svg")}.icon.icon-chevron-top.tertiary:before{background-image:url("../images/icons/chevron-top-tertiary.svg")}.icon.icon-clock.color:before{background-image:url("../images/icons/clock-color.svg")}.icon.icon-clock.white:before{background-image:url("../images/icons/clock-white.svg")}.icon.icon-clock.black:before{background-image:url("../images/icons/clock-black.svg")}.icon.icon-clock.primary:before{background-image:url("../images/icons/clock-primary.svg")}.icon.icon-clock.secondary:before{background-image:url("../images/icons/clock-secondary.svg")}.icon.icon-clock.tertiary:before{background-image:url("../images/icons/clock-tertiary.svg")}.icon.icon-close.color:before{background-image:url("../images/icons/close-color.svg")}.icon.icon-close.white:before{background-image:url("../images/icons/close-white.svg")}.icon.icon-close.black:before{background-image:url("../images/icons/close-black.svg")}.icon.icon-close.primary:before{background-image:url("../images/icons/close-primary.svg")}.icon.icon-close.secondary:before{background-image:url("../images/icons/close-secondary.svg")}.icon.icon-close.tertiary:before{background-image:url("../images/icons/close-tertiary.svg")}.icon.icon-download.color:before{background-image:url("../images/icons/download-color.svg")}.icon.icon-download.white:before{background-image:url("../images/icons/download-white.svg")}.icon.icon-download.black:before{background-image:url("../images/icons/download-black.svg")}.icon.icon-download.primary:before{background-image:url("../images/icons/download-primary.svg")}.icon.icon-download.secondary:before{background-image:url("../images/icons/download-secondary.svg")}.icon.icon-download.tertiary:before{background-image:url("../images/icons/download-tertiary.svg")}.icon.icon-expand.color:before{background-image:url("../images/icons/expand-color.svg")}.icon.icon-expand.white:before{background-image:url("../images/icons/expand-white.svg")}.icon.icon-expand.black:before{background-image:url("../images/icons/expand-black.svg")}.icon.icon-expand.primary:before{background-image:url("../images/icons/expand-primary.svg")}.icon.icon-expand.secondary:before{background-image:url("../images/icons/expand-secondary.svg")}.icon.icon-expand.tertiary:before{background-image:url("../images/icons/expand-tertiary.svg")}.icon.icon-gear.color:before{background-image:url("../images/icons/gear-color.svg")}.icon.icon-gear.white:before{background-image:url("../images/icons/gear-white.svg")}.icon.icon-gear.black:before{background-image:url("../images/icons/gear-black.svg")}.icon.icon-gear.primary:before{background-image:url("../images/icons/gear-primary.svg")}.icon.icon-gear.secondary:before{background-image:url("../images/icons/gear-secondary.svg")}.icon.icon-gear.tertiary:before{background-image:url("../images/icons/gear-tertiary.svg")}.icon.icon-gears.color:before{background-image:url("../images/icons/gears-color.svg")}.icon.icon-gears.white:before{background-image:url("../images/icons/gears-white.svg")}.icon.icon-gears.black:before{background-image:url("../images/icons/gears-black.svg")}.icon.icon-gears.primary:before{background-image:url("../images/icons/gears-primary.svg")}.icon.icon-gears.secondary:before{background-image:url("../images/icons/gears-secondary.svg")}.icon.icon-gears.tertiary:before{background-image:url("../images/icons/gears-tertiary.svg")}.icon.icon-global.color:before{background-image:url("../images/icons/global-color.svg")}.icon.icon-global.white:before{background-image:url("../images/icons/global-white.svg")}.icon.icon-global.black:before{background-image:url("../images/icons/global-black.svg")}.icon.icon-global.primary:before{background-image:url("../images/icons/global-primary.svg")}.icon.icon-global.secondary:before{background-image:url("../images/icons/global-secondary.svg")}.icon.icon-global.tertiary:before{background-image:url("../images/icons/global-tertiary.svg")}.icon.icon-globe.color:before{background-image:url("../images/icons/globe-color.svg")}.icon.icon-globe.white:before{background-image:url("../images/icons/globe-white.svg")}.icon.icon-globe.black:before{background-image:url("../images/icons/globe-black.svg")}.icon.icon-globe.primary:before{background-image:url("../images/icons/globe-primary.svg")}.icon.icon-globe.secondary:before{background-image:url("../images/icons/globe-secondary.svg")}.icon.icon-globe.tertiary:before{background-image:url("../images/icons/globe-tertiary.svg")}.icon.icon-graph-bar.color:before{background-image:url("../images/icons/graph-bar-color.svg")}.icon.icon-graph-bar.white:before{background-image:url("../images/icons/graph-bar-white.svg")}.icon.icon-graph-bar.black:before{background-image:url("../images/icons/graph-bar-black.svg")}.icon.icon-graph-bar.primary:before{background-image:url("../images/icons/graph-bar-primary.svg")}.icon.icon-graph-bar.secondary:before{background-image:url("../images/icons/graph-bar-secondary.svg")}.icon.icon-graph-bar.tertiary:before{background-image:url("../images/icons/graph-bar-tertiary.svg")}.icon.icon-grid.color:before{background-image:url("../images/icons/grid-color.svg")}.icon.icon-grid.white:before{background-image:url("../images/icons/grid-white.svg")}.icon.icon-grid.black:before{background-image:url("../images/icons/grid-black.svg")}.icon.icon-grid.primary:before{background-image:url("../images/icons/grid-primary.svg")}.icon.icon-grid.secondary:before{background-image:url("../images/icons/grid-secondary.svg")}.icon.icon-grid.tertiary:before{background-image:url("../images/icons/grid-tertiary.svg")}.icon.icon-heart.color:before{background-image:url("../images/icons/heart-color.svg")}.icon.icon-heart.white:before{background-image:url("../images/icons/heart-white.svg")}.icon.icon-heart.black:before{background-image:url("../images/icons/heart-black.svg")}.icon.icon-heart.primary:before{background-image:url("../images/icons/heart-primary.svg")}.icon.icon-heart.secondary:before{background-image:url("../images/icons/heart-secondary.svg")}.icon.icon-heart.tertiary:before{background-image:url("../images/icons/heart-tertiary.svg")}.icon.icon-house.color:before{background-image:url("../images/icons/house-color.svg")}.icon.icon-house.white:before{background-image:url("../images/icons/house-white.svg")}.icon.icon-house.black:before{background-image:url("../images/icons/house-black.svg")}.icon.icon-house.primary:before{background-image:url("../images/icons/house-primary.svg")}.icon.icon-house.secondary:before{background-image:url("../images/icons/house-secondary.svg")}.icon.icon-house.tertiary:before{background-image:url("../images/icons/house-tertiary.svg")}.icon.icon-html.color:before{background-image:url("../images/icons/html-color.svg")}.icon.icon-html.white:before{background-image:url("../images/icons/html-white.svg")}.icon.icon-html.black:before{background-image:url("../images/icons/html-black.svg")}.icon.icon-html.primary:before{background-image:url("../images/icons/html-primary.svg")}.icon.icon-html.secondary:before{background-image:url("../images/icons/html-secondary.svg")}.icon.icon-html.tertiary:before{background-image:url("../images/icons/html-tertiary.svg")}.icon.icon-list-ul.color:before{background-image:url("../images/icons/list-ul-color.svg")}.icon.icon-list-ul.white:before{background-image:url("../images/icons/list-ul-white.svg")}.icon.icon-list-ul.black:before{background-image:url("../images/icons/list-ul-black.svg")}.icon.icon-list-ul.primary:before{background-image:url("../images/icons/list-ul-primary.svg")}.icon.icon-list-ul.secondary:before{background-image:url("../images/icons/list-ul-secondary.svg")}.icon.icon-list-ul.tertiary:before{background-image:url("../images/icons/list-ul-tertiary.svg")}.icon.icon-map-marker.color:before{background-image:url("../images/icons/map-marker-color.svg")}.icon.icon-map-marker.white:before{background-image:url("../images/icons/map-marker-white.svg")}.icon.icon-map-marker.black:before{background-image:url("../images/icons/map-marker-black.svg")}.icon.icon-map-marker.primary:before{background-image:url("../images/icons/map-marker-primary.svg")}.icon.icon-map-marker.secondary:before{background-image:url("../images/icons/map-marker-secondary.svg")}.icon.icon-map-marker.tertiary:before{background-image:url("../images/icons/map-marker-tertiary.svg")}.icon.icon-menu.color:before{background-image:url("../images/icons/menu-color.svg")}.icon.icon-menu.white:before{background-image:url("../images/icons/menu-white.svg")}.icon.icon-menu.black:before{background-image:url("../images/icons/menu-black.svg")}.icon.icon-menu.primary:before{background-image:url("../images/icons/menu-primary.svg")}.icon.icon-menu.secondary:before{background-image:url("../images/icons/menu-secondary.svg")}.icon.icon-menu.tertiary:before{background-image:url("../images/icons/menu-tertiary.svg")}.icon.icon-move.color:before{background-image:url("../images/icons/move-color.svg")}.icon.icon-move.white:before{background-image:url("../images/icons/move-white.svg")}.icon.icon-move.black:before{background-image:url("../images/icons/move-black.svg")}.icon.icon-move.primary:before{background-image:url("../images/icons/move-primary.svg")}.icon.icon-move.secondary:before{background-image:url("../images/icons/move-secondary.svg")}.icon.icon-move.tertiary:before{background-image:url("../images/icons/move-tertiary.svg")}.icon.icon-notes.color:before{background-image:url("../images/icons/notes-color.svg")}.icon.icon-notes.white:before{background-image:url("../images/icons/notes-white.svg")}.icon.icon-notes.black:before{background-image:url("../images/icons/notes-black.svg")}.icon.icon-notes.primary:before{background-image:url("../images/icons/notes-primary.svg")}.icon.icon-notes.secondary:before{background-image:url("../images/icons/notes-secondary.svg")}.icon.icon-notes.tertiary:before{background-image:url("../images/icons/notes-tertiary.svg")}.icon.icon-page.color:before{background-image:url("../images/icons/page-color.svg")}.icon.icon-page.white:before{background-image:url("../images/icons/page-white.svg")}.icon.icon-page.black:before{background-image:url("../images/icons/page-black.svg")}.icon.icon-page.primary:before{background-image:url("../images/icons/page-primary.svg")}.icon.icon-page.secondary:before{background-image:url("../images/icons/page-secondary.svg")}.icon.icon-page.tertiary:before{background-image:url("../images/icons/page-tertiary.svg")}.icon.icon-pages.color:before{background-image:url("../images/icons/pages-color.svg")}.icon.icon-pages.white:before{background-image:url("../images/icons/pages-white.svg")}.icon.icon-pages.black:before{background-image:url("../images/icons/pages-black.svg")}.icon.icon-pages.primary:before{background-image:url("../images/icons/pages-primary.svg")}.icon.icon-pages.secondary:before{background-image:url("../images/icons/pages-secondary.svg")}.icon.icon-pages.tertiary:before{background-image:url("../images/icons/pages-tertiary.svg")}.icon.icon-pause.color:before{background-image:url("../images/icons/pause-color.svg")}.icon.icon-pause.white:before{background-image:url("../images/icons/pause-white.svg")}.icon.icon-pause.black:before{background-image:url("../images/icons/pause-black.svg")}.icon.icon-pause.primary:before{background-image:url("../images/icons/pause-primary.svg")}.icon.icon-pause.secondary:before{background-image:url("../images/icons/pause-secondary.svg")}.icon.icon-pause.tertiary:before{background-image:url("../images/icons/pause-tertiary.svg")}.icon.icon-play.color:before{background-image:url("../images/icons/play-color.svg")}.icon.icon-play.white:before{background-image:url("../images/icons/play-white.svg")}.icon.icon-play.black:before{background-image:url("../images/icons/play-black.svg")}.icon.icon-play.primary:before{background-image:url("../images/icons/play-primary.svg")}.icon.icon-play.secondary:before{background-image:url("../images/icons/play-secondary.svg")}.icon.icon-play.tertiary:before{background-image:url("../images/icons/play-tertiary.svg")}.icon.icon-plus.color:before{background-image:url("../images/icons/plus-color.svg")}.icon.icon-plus.white:before{background-image:url("../images/icons/plus-white.svg")}.icon.icon-plus.black:before{background-image:url("../images/icons/plus-black.svg")}.icon.icon-plus.primary:before{background-image:url("../images/icons/plus-primary.svg")}.icon.icon-plus.secondary:before{background-image:url("../images/icons/plus-secondary.svg")}.icon.icon-plus.tertiary:before{background-image:url("../images/icons/plus-tertiary.svg")}.icon.icon-present.color:before{background-image:url("../images/icons/present-color.svg")}.icon.icon-present.white:before{background-image:url("../images/icons/present-white.svg")}.icon.icon-present.black:before{background-image:url("../images/icons/present-black.svg")}.icon.icon-present.primary:before{background-image:url("../images/icons/present-primary.svg")}.icon.icon-present.secondary:before{background-image:url("../images/icons/present-secondary.svg")}.icon.icon-present.tertiary:before{background-image:url("../images/icons/present-tertiary.svg")}.icon.icon-profile.color:before{background-image:url("../images/icons/profile-color.svg")}.icon.icon-profile.white:before{background-image:url("../images/icons/profile-white.svg")}.icon.icon-profile.black:before{background-image:url("../images/icons/profile-black.svg")}.icon.icon-profile.primary:before{background-image:url("../images/icons/profile-primary.svg")}.icon.icon-profile.secondary:before{background-image:url("../images/icons/profile-secondary.svg")}.icon.icon-profile.tertiary:before{background-image:url("../images/icons/profile-tertiary.svg")}.icon.icon-refresh.color:before{background-image:url("../images/icons/refresh-color.svg")}.icon.icon-refresh.white:before{background-image:url("../images/icons/refresh-white.svg")}.icon.icon-refresh.black:before{background-image:url("../images/icons/refresh-black.svg")}.icon.icon-refresh.primary:before{background-image:url("../images/icons/refresh-primary.svg")}.icon.icon-refresh.secondary:before{background-image:url("../images/icons/refresh-secondary.svg")}.icon.icon-refresh.tertiary:before{background-image:url("../images/icons/refresh-tertiary.svg")}.icon.icon-search.color:before{background-image:url("../images/icons/search-color.svg")}.icon.icon-search.white:before{background-image:url("../images/icons/search-white.svg")}.icon.icon-search.black:before{background-image:url("../images/icons/search-black.svg")}.icon.icon-search.primary:before{background-image:url("../images/icons/search-primary.svg")}.icon.icon-search.secondary:before{background-image:url("../images/icons/search-secondary.svg")}.icon.icon-search.tertiary:before{background-image:url("../images/icons/search-tertiary.svg")}.icon.icon-shrink.color:before{background-image:url("../images/icons/shrink-color.svg")}.icon.icon-shrink.white:before{background-image:url("../images/icons/shrink-white.svg")}.icon.icon-shrink.black:before{background-image:url("../images/icons/shrink-black.svg")}.icon.icon-shrink.primary:before{background-image:url("../images/icons/shrink-primary.svg")}.icon.icon-shrink.secondary:before{background-image:url("../images/icons/shrink-secondary.svg")}.icon.icon-shrink.tertiary:before{background-image:url("../images/icons/shrink-tertiary.svg")}.icon.icon-sliders.color:before{background-image:url("../images/icons/sliders-color.svg")}.icon.icon-sliders.white:before{background-image:url("../images/icons/sliders-white.svg")}.icon.icon-sliders.black:before{background-image:url("../images/icons/sliders-black.svg")}.icon.icon-sliders.primary:before{background-image:url("../images/icons/sliders-primary.svg")}.icon.icon-sliders.secondary:before{background-image:url("../images/icons/sliders-secondary.svg")}.icon.icon-sliders.tertiary:before{background-image:url("../images/icons/sliders-tertiary.svg")}.icon.icon-slideshow.color:before{background-image:url("../images/icons/slideshow-color.svg")}.icon.icon-slideshow.white:before{background-image:url("../images/icons/slideshow-white.svg")}.icon.icon-slideshow.black:before{background-image:url("../images/icons/slideshow-black.svg")}.icon.icon-slideshow.primary:before{background-image:url("../images/icons/slideshow-primary.svg")}.icon.icon-slideshow.secondary:before{background-image:url("../images/icons/slideshow-secondary.svg")}.icon.icon-slideshow.tertiary:before{background-image:url("../images/icons/slideshow-tertiary.svg")}.icon.icon-star.color:before{background-image:url("../images/icons/star-color.svg")}.icon.icon-star.white:before{background-image:url("../images/icons/star-white.svg")}.icon.icon-star.black:before{background-image:url("../images/icons/star-black.svg")}.icon.icon-star.primary:before{background-image:url("../images/icons/star-primary.svg")}.icon.icon-star.secondary:before{background-image:url("../images/icons/star-secondary.svg")}.icon.icon-star.tertiary:before{background-image:url("../images/icons/star-tertiary.svg")}.icon.icon-tools.color:before{background-image:url("../images/icons/tools-color.svg")}.icon.icon-tools.white:before{background-image:url("../images/icons/tools-white.svg")}.icon.icon-tools.black:before{background-image:url("../images/icons/tools-black.svg")}.icon.icon-tools.primary:before{background-image:url("../images/icons/tools-primary.svg")}.icon.icon-tools.secondary:before{background-image:url("../images/icons/tools-secondary.svg")}.icon.icon-tools.tertiary:before{background-image:url("../images/icons/tools-tertiary.svg")}.icon.icon-university.color:before{background-image:url("../images/icons/university-color.svg")}.icon.icon-university.white:before{background-image:url("../images/icons/university-white.svg")}.icon.icon-university.black:before{background-image:url("../images/icons/university-black.svg")}.icon.icon-university.primary:before{background-image:url("../images/icons/university-primary.svg")}.icon.icon-university.secondary:before{background-image:url("../images/icons/university-secondary.svg")}.icon.icon-university.tertiary:before{background-image:url("../images/icons/university-tertiary.svg")}.icon.icon-volume-0.color:before{background-image:url("../images/icons/volume-0-color.svg")}.icon.icon-volume-0.white:before{background-image:url("../images/icons/volume-0-white.svg")}.icon.icon-volume-0.black:before{background-image:url("../images/icons/volume-0-black.svg")}.icon.icon-volume-0.primary:before{background-image:url("../images/icons/volume-0-primary.svg")}.icon.icon-volume-0.secondary:before{background-image:url("../images/icons/volume-0-secondary.svg")}.icon.icon-volume-0.tertiary:before{background-image:url("../images/icons/volume-0-tertiary.svg")}.icon.icon-volume-1.color:before{background-image:url("../images/icons/volume-1-color.svg")}.icon.icon-volume-1.white:before{background-image:url("../images/icons/volume-1-white.svg")}.icon.icon-volume-1.black:before{background-image:url("../images/icons/volume-1-black.svg")}.icon.icon-volume-1.primary:before{background-image:url("../images/icons/volume-1-primary.svg")}.icon.icon-volume-1.secondary:before{background-image:url("../images/icons/volume-1-secondary.svg")}.icon.icon-volume-1.tertiary:before{background-image:url("../images/icons/volume-1-tertiary.svg")}.icon.icon-volume-2.color:before{background-image:url("../images/icons/volume-2-color.svg")}.icon.icon-volume-2.white:before{background-image:url("../images/icons/volume-2-white.svg")}.icon.icon-volume-2.black:before{background-image:url("../images/icons/volume-2-black.svg")}.icon.icon-volume-2.primary:before{background-image:url("../images/icons/volume-2-primary.svg")}.icon.icon-volume-2.secondary:before{background-image:url("../images/icons/volume-2-secondary.svg")}.icon.icon-volume-2.tertiary:before{background-image:url("../images/icons/volume-2-tertiary.svg")}.icon.icon-volume.color:before{background-image:url("../images/icons/volume-color.svg")}.icon.icon-volume.white:before{background-image:url("../images/icons/volume-white.svg")}.icon.icon-volume.black:before{background-image:url("../images/icons/volume-black.svg")}.icon.icon-volume.primary:before{background-image:url("../images/icons/volume-primary.svg")}.icon.icon-volume.secondary:before{background-image:url("../images/icons/volume-secondary.svg")}.icon.icon-volume.tertiary:before{background-image:url("../images/icons/volume-tertiary.svg")}.icon.icon-website.color:before{background-image:url("../images/icons/website-color.svg")}.icon.icon-website.white:before{background-image:url("../images/icons/website-white.svg")}.icon.icon-website.black:before{background-image:url("../images/icons/website-black.svg")}.icon.icon-website.primary:before{background-image:url("../images/icons/website-primary.svg")}.icon.icon-website.secondary:before{background-image:url("../images/icons/website-secondary.svg")}.icon.icon-website.tertiary:before{background-image:url("../images/icons/website-tertiary.svg")}html{font-size:100%}body{color:#424242;font-family:'Whitney SSm A','Whitney SSm B',sans-serif;line-height:1.7;font-size:1rem;background-color:#fff;background-color:#232323;overflow:scroll;overflow-x:hidden}.spacer{height:1200px}body{background-color:#F2F2F2;background-color:#93979f;background-image:linear-gradient(#a1a4ab 2px, transparent 2px),linear-gradient(90deg, #a1a4ab 2px, transparent 2px),linear-gradient(#9a9da5 1px, transparent 1px),linear-gradient(90deg, #9a9da5 1px, transparent 1px);background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;background-position:-2px -2px,-2px -2px,-1px -1px,-1px -1px;-webkit-text-size-adjust:none}body.ignore-iframes iframe{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;pointer-events:none}header.toolbar{position:absolute;top:0px;width:100%;height:50px;background-color:#6F747C;color:#ccc;z-index:999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}header.toolbar nav{position:relative;height:100%;font-size:0px}header.toolbar nav>ul,header.toolbar nav>ul>li{height:100%}header.toolbar nav ul,header.toolbar nav li{position:relative;margin:0;padding:0;list-style:none}header.toolbar nav li{font-size:14px;display:inline-block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}header.toolbar nav span,header.toolbar nav a{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;color:inherit;text-decoration:none;display:block;height:100%;padding:16px;padding-top:12px;padding-bottom:0px}header.toolbar nav>ul>li>span,header.toolbar nav>ul>li>a{text-transform:uppercase;font-size:12px;cursor:pointer}header.toolbar nav>ul>li>span:hover,header.toolbar nav>ul>li>a:hover{color:#fff;background-color:#444}header.toolbar nav>ul>li.has-children>span:after{display:inline-block;position:relative;content:'\f107';font-family:FontAwesome;width:17px;text-align:right;opacity:.5}header.toolbar nav>ul>li.open>span,header.toolbar nav>ul>li.open>a{background-color:#0469b1;color:#fff}header.toolbar nav>ul>li>ul{display:none;position:absolute;top:100%;height:auto;width:150px;left:0px;background-color:#fff;box-shadow:0 2px 5px rgba(0,0,0,0.1)}header.toolbar nav>ul>li>ul li{display:block}header.toolbar nav>ul>li>ul>li>span{color:#202020}header.toolbar nav>ul>li>ul>li>ul>li>a{padding:8px;padding-left:32px}header.toolbar nav>ul>li>ul>li>ul>li>a:hover{color:#0469b1;background-color:#f0f0f0}header.toolbar nav>ul>li.open>ul{display:block}header.toolbar .options{position:absolute;top:0px;right:0px;height:100%}header.toolbar .options nav li{height:100%;vertical-align:top}header.toolbar .options nav li a,header.toolbar .options nav li span{display:block;height:100%;cursor:pointer}header.toolbar .options nav li a i,header.toolbar .options nav li span i{font-size:20px;margin-top:3px}header.toolbar .options nav li a:hover,header.toolbar .options nav li span:hover{color:#fff;background-color:#444}.layout{position:absolute;width:100%;height:100%;top:0px;left:0px;overflow:hidden}.viewer{position:absolute;width:100%;top:0px;height:100%}.viewer .resizer{position:relative;width:300px;top:0px;height:100%;margin:auto}.viewer .resizer .content{width:100%;position:absolute;top:50px;bottom:0;border:0 none;background-color:#fff}.viewer .resizer iframe{width:100%;top:0px;position:absolute;height:100%;border:0 none}.viewer.animated,.viewer.animated .resizer{-webkit-transition:.25s;-moz-transition:.25s;-ms-transition:.25s;-o-transition:.25s;-webkit-transition-timing-function:easeOutCubic;-moz-transition-timing-function:easeOutCubic;-o-transition-timing-function:easeOutCubic;transition-timing-function:easeOutCubic;-webkit-transition-timing-function:cubic-bezier(.215, .61, .355, 1);-moz-transition-timing-function:cubic-bezier(.215, .61, .355, 1);-o-transition-timing-function:cubic-bezier(.215, .61, .355, 1);transition-timing-function:cubic-bezier(.215, .61, .355, 1)}.viewer.resizing .resizer iframe{pointer-events:none}.viewer .handle{position:absolute;cursor:col-resize;width:16px;right:-16px;background:#000;height:100%;opacity:.05}.viewer.resizing .viewer .handle,.viewer .handle:hover{opacity:.2}.viewer.resizing .handle{opacity:.2}body.fullscreen>header{display:none}body.fullscreen .viewer{height:100% !important}body.fullscreen .viewer .resizer{width:100% !important}body.fullscreen .viewer .resizer .content{top:0px}body.fullscreen .source{display:none}.source{position:absolute;bottom:0px;width:100%;left:0px;height:300px;background-color:#555}.source.animated{-webkit-transition:.25s;-moz-transition:.25s;-ms-transition:.25s;-o-transition:.25s;-webkit-transition-timing-function:easeOutCubic;-moz-transition-timing-function:easeOutCubic;-o-transition-timing-function:easeOutCubic;transition-timing-function:easeOutCubic;-webkit-transition-timing-function:cubic-bezier(.215, .61, .355, 1);-moz-transition-timing-function:cubic-bezier(.215, .61, .355, 1);-o-transition-timing-function:cubic-bezier(.215, .61, .355, 1);transition-timing-function:cubic-bezier(.215, .61, .355, 1)}.source iframe{border:0 none;position:absolute;top:0px;height:100%;width:100%;left:0px}.source .handle{position:absolute;cursor:row-resize;width:100%;height:16px;top:0px;background:#000;opacity:.05;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.viewer.resizing .source .handle,.source .handle:hover{opacity:.2}.source.resizing .handle{opacity:.2}.layout.resizing .viewer iframe,.layout.resizing .source iframe{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;pointer-events:none}.layout.resizing .handle{opacity:.2}