.search-results-base(){
    margin-top: @gutter;
    margin-bottom: @gutter;
    padding:@gutter;

    &.main{
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        background-color: transparent;
    }

    h2{
        margin: 0;
        margin-bottom: @gutter;
    }

    .results{
        margin:0;
    }
    .more-container .more{
        margin-top: @gutter/2;
    }

}


& when (@bp = @bp-small){




.search-window{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 990;
    overflow: hidden;
    display: none;

    &.active{
        display: block;
    }
    &.static{
        background-color: fade(#F2F2F2, 95%);
    }
    &.hide{
        .transition(~'opacity .25s');
        opacity: 0;
    }

    .searches{
        &:after{
            content: '';
            clear: both;
            display: block;
        }
    }

    .results-content{
        width: 100%;
        position: absolute;
        top: 48px;
        bottom: 48px;
        z-index: 50;

        .scrollable{
            overflow: auto;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;  
            position: absolute;
            width: 100%;
            width: 100vw;
            height: 100%;
            &>div{
                width: 100vw;
                padding-left: @gutter;
                padding-right: @gutter;
            }
        }
    }

    .window-fill{
        @r:800px;
        background-color: fade(#F2F2F2, 95%);
        border-radius: 50%;
        width: @r*2;
        height: @r*2;
        top:-100%;
        left:100%;
        margin-left: -@r;
        margin-top: -@r;
        opacity: 1;
        position: absolute;
        transform:scale(0);
        .transition(~'opacity 3s, transform 1s, top 2s, left 2s');
        .ease(easeOutExpo);
    }

    &.anim .window-fill{
        top:50%;
        left:50%;
        transform:scale(1); 
        opacity: 1;
       // .translate3d(0,0,0);
    }
    &.static .window-fill{
        opacity: 0;
    }

    .content{
        position: relative;
        z-index: 1;
    }

    .search-box-container{
        position: absolute;
        width: 100%;
        background-color: #fff;
        //top:-129px;
        .translate3d(0px,-129px,0);
        .transition(~'.75s');
        .ease(easeOutCubic);
        height: 49px;
        border-bottom: 1px solid #DFDFDF;
        z-index: 999;
    }

    .search-box-container-inner{
        position: relative;
        //top:-50px;
        .translate3d(0px,-50px,0);
        .transition(~'1s');
        .ease(easeOutCubic);
    }


    &.anim .search-box-container,
    &.anim .search-box-container-inner{
        .translate3d(0px,0px,0);
        //top: 0px;
    }

    &.hide .search-box-container{
        .transition(~'.1s');
        .transition-delay(~'0s');
        .ease(ease); 
        opacity: 0;

    }


    .search-box{
        position: relative;
        margin:auto;
        margin-left: @gutter;
        margin-right: @gutter;
        font-size: 1.1rem;
        .search-icon{
            display: block;
            .font-primary-short();
            font-size: 1rem;
            padding-top:16px;
            position: absolute;
            left: -@gutter;
            top: 0;
            text-align: center;
            width: 48px;
            height: 48px;
        }
        input{
            .box-sizing(border-box);
            color:#000;
            left: 0;
            width: 100%;
            padding-left: 1em;
            padding-left: 1.5em;
            padding-top: .5em;
            padding-bottom: .5em;
            border:0 none;
            outline:0 none;
            background:transparent;
            .font-primary();
            font-weight: 200;
            font-size: inherit;
            .input-placeholder(){
                color:darken(#fff, 15%);
            }
            &::-webkit-input-placeholder{.input-placeholder();}
            &::-moz-input-placeholder{.input-placeholder();}
            &::-ms-input-placeholder{.input-placeholder();}
            &::input-placeholder{.input-placeholder();}
        }
    }


}
.search-window .close-button{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 48px;
    height: 48px;
    text-align: center;
    z-index: 999;
    padding-top: 13px;
    background-color: @color-primary;
    cursor: pointer;
    &:hover{
        background-color: lighten(@color-primary, 10%);
    }
}


.search-window .search-results{

    .search-results-base();

    .transition(~'opacity 2s, transform 2s');
    .translate3d(0,50px,0);
    .ease(easeOutExpo);
    opacity: 0;
    background-color: #fff;
    vertical-align: top;

    &.active{
        opacity: 1;
        .translate3d(0,0px,0);
        &.main{.transition-delay(~'.4s');}
        &.umasslowell{.transition-delay(~'.5s');}
        &.directory{.transition-delay(~'.6s');}
        &.campus{.transition-delay(~'.7s');}
    }


    
    h2{
        font-size: @font-size-xsmall;
    }

    &.main{
        color: #000;
    }

    &.main h2{
        display: none;
    }
    &.main .results{
        margin-right: 0;
        margin-left: 0;
    }

    .results-container{
        overflow: hidden;
        height: 0px;
        .transition(~'.5s');
        .ease(easeInOutSine);
    }
    .results{
        list-style: none;
        padding:0;
        position: relative;
        li{
            list-style: none;
            margin:0;
            padding:0;
            position: relative;
        }
        li{
            margin-bottom: 1em;
        }

        .keymatch{
            border-left: 3px solid @color-tertiary;
            padding-left: .2em;
        }

        .keymatch-icon{
            // position: absolute;
            // left: -1em;
            // top: 0;
            display: none;
        }
        .keymatch .title{
            font-weight: 600;
        }
        .title{
            display: block;
            line-height: 1.2;
            clear: both;
        }

        .url,
        .context{
            font-size: @font-size-xsmall;
        }
        .context br{
            display: none;
        }
        .context b{
            font-weight: normal;
            background-color: fade(#FAC537, 15%);
        }

        .context .ellipsis{
            background: transparent;
            &:after{
                content: '...';
            }
        }
        .url{
            font-size: @font-size-xxsmall;
            color:lighten(@color-text, 35%);
            word-break: break-all;
            line-height: 1.2;
        }



        &.limited li:nth-child(n+4){
            display: none;
        }

        .result{

            .phone{
                float: right;
                padding-left: 1em;
            }

            .address,
            .phone,
            .department,
            .job-title,
            .location{
                line-height: 1.2;
                padding-top: .5em;
            }

            

            &.people:after{
                content: '';
                display: block;
                clear: both;
            }
        }

    }

    .more-container{
        overflow: hidden;
        height: 0px;
        .transition(~'1s');
    }

    &.overflowed .more-container{
        height: 60px;
    }
    .more{
        @color:fade(@color-text, 30%);
        font-size: @font-size-xsmall;
        text-transform: uppercase;
        color:@color;
        text-align: center;
        font-weight: 600;
        display: block;
        margin: auto;
        cursor: pointer;
        border-top:1px solid @color;
        line-height: 1;
        padding:.6em;
        padding-left:1em;
        padding-right:1em;
        .transition(~'color .25s');
        &:hover{
            color: #000;
        }
    }

}







}/*----------------------------------------------------------------------------------------------------------- end Small */
/*

88b           d88                     88 88
888b         d888                     88 ""
88`8b       d8'88                     88
88 `8b     d8' 88  ,adPPYba,  ,adPPYb,88 88 88       88 88,dPYba,,adPYba,
88  `8b   d8'  88 a8P_____88 a8"    `Y88 88 88       88 88P'   "88"    "8a
88   `8b d8'   88 8PP""""""" 8b       88 88 88       88 88      88      88
88    `888'    88 "8b,   ,aa "8a,   ,d88 88 "8a,   ,a88 88      88      88
88     `8'     88  `"Ybbd8"'  `"8bbdP"Y8 88  `"YbbdP'Y8 88      88      88


-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-medium){




    .search-window{
        .results-content{
            .scrollable{
                &>div{
                    padding-left: @gutter;
                    padding-right: @gutter;
                }
            }
        }

    }

    .search-window .search-results{

        .search-results-base();

        h2{
            font-size: @font-size-normal;
        }

        &.umasslowell{
            float: left;
            width:@6col;
        }

        &.directory,
        &.campus{
            float: right;
            clear: right;
            width: @6col;
        }

        &.directory{
            margin-bottom: 0;
        }

    }



}/*----------------------------------------------------------------------------------------------------------- end Medium */
/*

88
88
88
88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
88          ,adPPPPP88 88         8b       88 8PP"""""""
88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                   aa,    ,88
                                    "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-large){










}/*----------------------------------------------------------------------------------------------------------- end Large */
/*

            88
            88
            88
8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                               aa,    ,88
                                                "Y8bbdP"                                                                              
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-xlarge){




    .search-window{
        .results-content{
            .scrollable{
                &>div{
                    padding-left: @2col + @gutter + @gutter;
                    padding-right: @2col + @gutter + @gutter;
                }
            }
        }
        .search-box{
            width: @8col;
            margin-left:@2col + @gutter + @gutter;
            margin-right: 0;
        }


    }

    .search-window .search-results{

        .search-results-base();

        &.umasslowell{
            float: left;
            width:@5col;
        }

        &.directory,
        &.campus{
            float: right;
            clear: right;
            width: @3col;
        }

    }



}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*

                        88
                        88
                        88
8b,     ,d8 8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'   `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(       )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,   ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                                           aa,    ,88
                                                            "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-xxlarge){










}/*---------------------------------------------------------------------------------------------------------- end xLarge */
