<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 no-flexbox" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 no-flexbox" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10 no-flexbox" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <title></title>
    
    <meta name="viewport" content="minimal-ui, width=device-width,initial-scale=1, user-scalable=no">

    <link href="/system/template/v5/css/template.base.dev.css" rel="stylesheet" type="text/css" />
    <link href="/system/template/v5/css/template.responsive.dev.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/804448/791924/css/fonts.css" />

    <script type="text/javascript">window.afterLoad = [];</script>

</head>

<body class="pattern-library layout-spread"><form name="form" runat="server" id="form" encType="multipart/form-data">

    <div class="layout page-container">

        <div class="sidebar">

        </div>

        <div class="page">

            <div class="components">


                

                

                [[ if (typeof classes == "undefined"){ classes = ''; } ]]
[[if(typeof href == "undefined"){]]
	<div class="icon {{classes}}">
[[}else{]]
	<a href="{{href}}" class="icon {{classes}}">
[[}]]

	[[if(typeof icon == "undefined"){]]
		<i class="uml uml-piggybank white back-orange padded rounded xlarge"></i>
	[[}else{]]
		<i class="{{icon}}"></i>
	[[}]]

	[[if(typeof text == "undefined"){]]
		<div class="text">Lorem ipsum Id deserunt ea deserunt voluptate.</div>
	[[}else{]]
		<div class="text">{{text}}</div>
	[[}]]

[[if(typeof href == "undefined"){]]
	</div>
[[}else{]]
	</a>
[[}]]



            </div>

            
        </div>
    </div>

    <div class="margin-clear"></div>
    <div class="float-clear"></div>


    
    <script src="../../js/template.dev.js" type="text/javascript"></script>

    <!-- ### Remove in Production 
    ###-->
    <script type="text/javascript" src="http://129.63.83.158:6542/livereload.js"></script>
    <!-- ### Remove in Production ###-->


</form></body>

</html>