<!DOCTYPE html><html><head><link href="http://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css"><link rel="stylesheet" type="text/css" href="sourcecode.css"/><style>.hljs,pre,body{font-family:"Source Code Pro";}</style></head><body class="hljs"><pre>[[ if (typeof classes == "undefined"){ classes = ''; } ]]
[[if(typeof href == "undefined"){]]
	<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"icon {{classes}}"</span>&gt;</span>
[[}else{]]
	<span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"{{href}}"</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"icon {{classes}}"</span>&gt;</span>
[[}]]

	[[if(typeof icon == "undefined"){]]
		<span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"uml uml-piggybank white back-orange padded rounded xlarge"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
	[[}else{]]
		<span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"{{icon}}"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
	[[}]]

	[[if(typeof text == "undefined"){]]
		<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"text"</span>&gt;</span>Lorem ipsum Id deserunt ea deserunt voluptate.<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
	[[}else{]]
		<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"text"</span>&gt;</span>{{text}}<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
	[[}]]

[[if(typeof href == "undefined"){]]
	<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
[[}else{]]
	<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
[[}]]
</pre></body></html>