<!DOCTYPE html><html><head><link href="http://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css"><link rel="stylesheet" type="text/css" href="sourcecode.css"/><style>.hljs,pre,body{font-family:"Source Code Pro";}</style></head><body class="hljs"><pre>[[ if (typeof classes == "undefined"){ classes = ''; } ]]
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"banner {{classes}}"</span>&gt;</span>
    [[if(typeof image == "undefined"){]]
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"image"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"background-image:url(http://fpoimg.com/1200x600?text=)"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">img</span> <span class="hljs-attribute">src</span>=<span class="hljs-value">"http://fpoimg.com/1200x600?text="</span>/&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    [[}else{]]
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"image"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"background-image:url({{image}})"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">img</span> <span class="hljs-attribute">src</span>=<span class="hljs-value">"{{image}}"</span>/&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    [[}]]

    <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"row"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"column small-12 medium-10 large-12 xlarge-6 xlarge-push-1"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"text"</span>&gt;</span>
                    [[if(typeof title == "undefined"){]]
                        <span class="hljs-tag">&lt;<span class="hljs-title">h2</span>&gt;</span>Lorem Ipsum Dolore<span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span>
                    [[}else{]]
                        <span class="hljs-tag">&lt;<span class="hljs-title">h2</span>&gt;</span>{{title}}<span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span>
                    [[}]]
                    <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span> 
                        [[if(typeof text == "undefined"){]]
                            Lorem ipsum Dolore sint in et aliquip dolore culpa in do veniam in ut magna Excepteur culpa dolor tempor et.
                        [[}else{]]
                            {{text}}
                        [[}]]

                        [[if(typeof more == "undefined"){]]
                            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span>&gt;</span>Read More<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        [[}else{]]
                            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span>&gt;</span>{{more}}<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
                        [[}]]
                        
                    <span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span> </pre></body></html>