@base:16px;

@r: unit(1/@base, rem);
@em: unit(1/@base, em);
@column: 100/12;


@color-primary:#0469B1;
@color-primary-reverse:#fff;
@color-secondary:#67B6BD;
@color-secondary-reverse:#325B5E;
@color-tertiary:#FAC537;
@color-tertiary-reverse:#fff;

@text-color:#424242;
@color-text:@text-color;
@color-text-dark:#222222;

@color-light:#e0e0e0;
@color-dark:#bbb;

@border-width:@r*1;
@border-color:#e3e3e3;

@icons-path:'../images/icons/';

@element-vertical-margin:  @r*16;
@element-horizontal-margin:  @r*16;
@element-vertical-padding: @r*8;
@element-horizontal-padding:  @r*16;

@anim-speed-quick:.10s;
@anim-speed-normal:.25s;
@anim-speed-long:1s;

//@element-size-small:

@bp-small: 0px;
@bp-medium: 640px;
@bp-large: 768px;
@bp-xlarge: 1025px;
@bp-xxlarge: 1400px;

@gutter-small: @r*12;
@gutter-medium: @r*12;
@gutter-large: @r*16;
@gutter-xlarge: @r*32;
@gutter-xxlarge: @r*32;

@gutter-small:  3.5vw;
@gutter-medium: 2vw;
@gutter-large: 2vw;
@gutter-xlarge: 2vw;
@gutter-xxlarge: 2vw;
@gutter-static:32px;


@font-size-xxsmall: @r*10;
@font-size-xsmall: @r*12;
@font-size-small: @r*14;
@font-size: @r*16;
@font-size-normal:@font-size;
@font-size-large: @r*18;
@font-size-xlarge: @r*24;
@font-size-xxlarge: @r*45;

@font-primary-family:'Whitney SSm A', 'Whitney SSm B', sans-serif;
@font-primary-line-height:1.7;

@font-primary-size-xxsmall: @font-size-xxsmall;
@font-primary-size-xsmall: @font-size-xsmall;
@font-primary-size-small: @font-size-small;
@font-primary-size: @font-size-normal;
@font-primary-size-normal:@font-primary-size;
@font-primary-size-large: @font-size-large;
@font-primary-size-xlarge: @font-size-xlarge;
@font-primary-size-xxlarge: @font-size-xxlarge;

@font-secondary-family:'Sabon', Georgia, serif;
@font-secondary-line-height:1.7;
@font-secondary-size-xsmall: @r*10;
@font-secondary-size-small: @r*14;
@font-secondary-size: @r*32;
@font-secondary-size-normal:@font-secondary-size;
@font-secondary-size-large: @r*42;
@font-secondary-size-xlarge: @r*68;

.font-primary(){
	font-family: @font-primary-family;
	line-height: @font-primary-line-height;
}
.font-primary-short(){
	.font-primary();
	line-height: 1;
}

.font-secondary(){
	font-family: @font-secondary-family;
	line-height: @font-secondary-line-height;
}
.font-secondary-short(){
	.font-secondary();
	line-height: 1;
}

