& when (@bp = @bp-small){ @gutter:@gutter-small;

html{
    font-size: 100%;
}

body{
    color: @text-color;
    .font-primary();
    font-size: @font-size-normal;
    background-color: #fff;
    background-color:#232323;
    overflow: scroll;
    overflow-x: hidden;
}

.spacer{
  height: 1200px;
}

body{
  background-color: #F2F2F2;
  @grid-color:#c5c5c5;
  @grid-color:desaturate(lighten(#2B303B,40%), 10%);
  background-color:@grid-color;
  background-image: linear-gradient(lighten(@grid-color, 5%) 2px, transparent 2px),
  linear-gradient(90deg, lighten(@grid-color, 5%) 2px, transparent 2px),
  linear-gradient(lighten(@grid-color,2.5%) 1px, transparent 1px),
  linear-gradient(90deg, lighten(@grid-color,2.5%) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;

  -webkit-text-size-adjust: none;
}

body.ignore-iframes iframe{
  .user-select(none);
  pointer-events: none;
}

header.toolbar{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color:#6F747C;
  color:#ccc;
  z-index: 999;
  .user-select(none);
  nav{
    position: relative;
    height: 100%;
    font-size: 0px;
    &>ul,
    &>ul>li{
      height: 100%;
    }

    ul,
    li{
      position: relative;
      margin:0;
      padding:0;
      list-style: none;
      
    }
    li{
      font-size: 14px;
      display: inline-block;
      .user-select(none);
    }

    span,
    a{
      .user-select(none);
      color: inherit;
      text-decoration: none;
      display: block;
      height: 100%;
      padding:16px;
      padding-top: 12px;
      padding-bottom: 0px;
      

    }

    &>ul>li>span,
    &>ul>li>a{
      text-transform: uppercase;
      font-size: 12px;
      cursor: pointer;
      &:hover{
        color: #fff;
        background-color: #444;
      }
    }

    &>ul>li.has-children>span{
      &:after{
        display: inline-block;
        position: relative;
        content: '\f107';
        font-family: FontAwesome;
        width: 17px;
        text-align: right;
        opacity: .5;
      }
    }

    &>ul>li.open>span,
    &>ul>li.open>a{
      background-color: @color-primary;
      color: #fff;
    }

    &>ul>li>ul{
      display: none;
      position: absolute;
      top: 100%;
      height: auto;
      width: 150px;
      left: 0px;
      background-color: #fff;
      box-shadow: 0px 2px 5px fade(#000, 10%);

      li{
        display: block;
      }
    
      &>li>span{
        color: #202020;
      }
      &>li>ul>li>a{
        padding:8px;
        padding-left: 32px;
        &:hover{
          color:@color-primary;
          background-color: #f0f0f0;
        }
      }
    }

    &>ul>li.open>ul{
      display: block;
    }


  }

  .options{
    position: absolute;
    top:0px;
    right: 0px;
    height: 100%;
    nav li{
      height: 100%;
      vertical-align: top;
    }
    nav li a,
    nav li span{
      display: block;
      height: 100%;
      cursor: pointer;
      i{
        font-size: 20px;
        margin-top: 3px;
      }
      &:hover{
        color: #fff;
        background-color: #444;
      }
    }
  }

}

.layout{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.viewer{
  position: absolute;
  width: 100%;
  top: 0px;
  height: 100%;



  .resizer{
    position: relative;
    width: 300px;
    top: 0px;
    height: 100%;
    margin:auto;

    .content{
      width: 100%;
      position: absolute;
      top: 50px;
      bottom: 0;
      border: 0 none;
      background-color: #fff;
    }
    iframe{
      width: 100%;
      top:0px;
      position: absolute;
      height: 100%;
      border: 0 none;
    }
  }

  &.animated,
  &.animated .resizer {
    .transition(~'.25s');
  }

  &.resizing .resizer iframe{
    pointer-events: none;
  }


  .handle{
    position: absolute;
    cursor: col-resize;
    width: 16px;
    right: -16px;
    background:#000;
    height: 100%;
    opacity: .05; 

    .viewer.resizing &,
    &:hover{
      opacity: .2;
    }
  }

  &.resizing .handle{
    opacity: .2;
  }

}

body.fullscreen{
  &>header{
    display: none;
  }
  .viewer{
    height: 100% !important;
  }
  .viewer .resizer{
    width: 100% !important;
  }
  .viewer .resizer .content{
    top:0px;
  }
  .source{
    display: none;
  }
}

.source{
  position: absolute;
  bottom:0px;
  width: 100%;
  left:0px;
  height: 300px;
  background-color: #555;
  &.animated {
    .transition(~'.25s');
  }
  iframe{
    border:0 none;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    left: 0px;
  }

  .handle{
    position: absolute;
    cursor: row-resize;
    width: 100%;
    height: 16px;
    top: 0px;
    background:#000;
    opacity: .05;
    .user-select(none);

    .viewer.resizing &,
    &:hover{
      opacity: .2;
    }
  }

  &.resizing .handle{
    opacity: .2;
  }

}

.layout{
  &.resizing{
    .viewer iframe,
    .source iframe{
      .user-select(none);
      pointer-events: none;
    }
  }
  &.resizing .handle{
    opacity: .2;
  }
}




}/*----------------------------------------------------------------------------------------------------------- end Small */
/*

88b           d88                     88 88
888b         d888                     88 ""
88`8b       d8'88                     88
88 `8b     d8' 88  ,adPPYba,  ,adPPYb,88 88 88       88 88,dPYba,,adPYba,
88  `8b   d8'  88 a8P_____88 a8"    `Y88 88 88       88 88P'   "88"    "8a
88   `8b d8'   88 8PP""""""" 8b       88 88 88       88 88      88      88
88    `888'    88 "8b,   ,aa "8a,   ,d88 88 "8a,   ,a88 88      88      88
88     `8'     88  `"Ybbd8"'  `"8bbdP"Y8 88  `"YbbdP'Y8 88      88      88


-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-medium){ @gutter:@gutter-medium;



}/*----------------------------------------------------------------------------------------------------------- end Medium */
/*

88
88
88
88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
88          ,adPPPPP88 88         8b       88 8PP"""""""
88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                   aa,    ,88
                                    "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-large){ @gutter:@gutter-large;














}/*----------------------------------------------------------------------------------------------------------- end Large */
/*

            88
            88
            88
8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                               aa,    ,88
                                                "Y8bbdP"                                                                              
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-xlarge){ @gutter:@gutter-xlarge;





  html{
      font-size: 100%;
  }













}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*

                        88
                        88
                        88
8b,     ,d8 8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'   `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(       )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,   ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                                           aa,    ,88
                                                            "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-xxlarge){ @gutter:@gutter-xxlarge;


















}/*---------------------------------------------------------------------------------------------------------- end xLarge */
