<a href="#" class="media">
	<% if(typeof image == "undefined"){ %>

		<div class="image" style="background-image:url(http://fpoimg.com/300x200?text=)">
			<img src="http://fpoimg.com/300x200?text="/>
		</div>

	<% }else{ %>
		<div class="image" style="background-image:url(<%=image%>)">
			<img src="<%=image%>"/>
		</div>
	<% } %>

	<div class="text">
		<% if(typeof title == "undefined"){ %>
			<h2>Lorem Ipsum Dolore</h2>
		<% }else{ %>
			<h2><%=title%></h2>
		<% } %>
	</div>
</a>  