<div class="form"> 

    <div class="row">
        <div class="column small-6 medium-6"> 
            <div class="forms textfield">
                <label for="text">First Name <abbr title="Required">*</abbr></label>
                <input id="text" type="text" placeholder="Text Input">
            </div>
        </div>
        <div class="column small-6 medium-6">
            <div class="forms textfield">
                <label for="text">Last Name <abbr title="Required">*</abbr></label>
                <input id="text" type="text" placeholder="Text Input">
            </div>
        </div>
    </div>

    <div class="row">   
        <div class="column small-12 medium-6"> 
            <div class="forms textfield"> 
                <label for="text">Email <abbr title="Required">*</abbr></label>
                <input id="text" type="text" placeholder="Text Input">
            </div>
        </div>
    </div>


</div>

