<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 no-flexbox" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 no-flexbox" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10 no-flexbox" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <title></title>
    
    <meta name="viewport" content="minimal-ui, width=device-width,initial-scale=1, user-scalable=no">

    <link href="/system/template/v5/css/template.base.dev.css" rel="stylesheet" type="text/css" />
    <link href="/system/template/v5/css/template.responsive.dev.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/804448/791924/css/fonts.css" />

    <script type="text/javascript">window.afterLoad = [];</script>

</head>

<body class="pattern-library layout-spread"><form name="form" runat="server" id="form" encType="multipart/form-data">

    <div class="layout page-container">

        <div class="sidebar">

        </div>

        <div class="page">

            <div class="components">


                <% if(typeof data.variants != 'undefined'){ %>

                    <% _.each(data.variants, function(variant){ %>
                        <div class="pattern-library variant-info">
                            <h2><%=variant.title%></h2>
                        </div>
                        <%= variant.rendered %> 
                    <%})%>

                <% }else{ %>

                <% } %>

                <%= data.body %>


            </div>

            
        </div>
    </div>

    <div class="margin-clear"></div>
    <div class="float-clear"></div>


    
    <script src="../../js/template.dev.js" type="text/javascript"></script>

    <!-- ### Remove in Production 
    ###-->
    <script type="text/javascript" src="http://129.63.83.158:6542/livereload.js"></script>
    <!-- ### Remove in Production ###-->


</form></body>

</html>