<% data = _.extend({
    classes:'',
    qa:[
        {
            q:"How do I contact the Registrar's Office?",
            "a":"<p>You can send an email to: <a href=\"mailto:Registrar@uml.edu\">Registrar@uml.edu</a> or call 978-934-2550. &nbsp;The Registrar's office is located at the University Crossing, 220 Pawtucket St., Suite M10, Lowell, MA 01854-5129.</p>"
        },
        {
            q:"How do I contact the Registrar's Office?",
            "a":"<p>You can send an email to: <a href=\"mailto:Registrar@uml.edu\">Registrar@uml.edu</a> or call 978-934-2550. &nbsp;The Registrar's office is located at the University Crossing, 220 Pawtucket St., Suite M10, Lowell, MA 01854-5129.</p>"
        },
        {
            q:"How do I contact the Registrar's Office?",
            "a":"<p>You can send an email to: <a href=\"mailto:Registrar@uml.edu\">Registrar@uml.edu</a> or call 978-934-2550. &nbsp;The Registrar's office is located at the University Crossing, 220 Pawtucket St., Suite M10, Lowell, MA 01854-5129.</p>"
        },
        {
            q:"How do I contact the Registrar's Office?",
            "a":"<p>You can send an email to: <a href=\"mailto:Registrar@uml.edu\">Registrar@uml.edu</a> or call 978-934-2550. &nbsp;The Registrar's office is located at the University Crossing, 220 Pawtucket St., Suite M10, Lowell, MA 01854-5129.</p>"
        },
        {
            q:"How do I contact the Registrar's Office?",
            "a":"<p>You can send an email to: <a href=\"mailto:Registrar@uml.edu\">Registrar@uml.edu</a> or call 978-934-2550. &nbsp;The Registrar's office is located at the University Crossing, 220 Pawtucket St., Suite M10, Lowell, MA 01854-5129.</p>"
        },
        {
            q:"How do I contact the Registrar's Office?",
            "a":"<p>You can send an email to: <a href=\"mailto:Registrar@uml.edu\">Registrar@uml.edu</a> or call 978-934-2550. &nbsp;The Registrar's office is located at the University Crossing, 220 Pawtucket St., Suite M10, Lowell, MA 01854-5129.</p>"
        },
        {
            q:"How do I contact the Registrar's Office?",
            "a":"<p>You can send an email to: <a href=\"mailto:Registrar@uml.edu\">Registrar@uml.edu</a> or call 978-934-2550. &nbsp;The Registrar's office is located at the University Crossing, 220 Pawtucket St., Suite M10, Lowell, MA 01854-5129.</p>"
        },
        {
            q:"How do I contact the Registrar's Office?",
            "a":"<p>You can send an email to: <a href=\"mailto:Registrar@uml.edu\">Registrar@uml.edu</a> or call 978-934-2550. &nbsp;The Registrar's office is located at the University Crossing, 220 Pawtucket St., Suite M10, Lowell, MA 01854-5129.</p>"
        },
        {
            q:"How do I contact the Registrar's Office?",
            "a":"<p>You can send an email to: <a href=\"mailto:Registrar@uml.edu\">Registrar@uml.edu</a> or call 978-934-2550. &nbsp;The Registrar's office is located at the University Crossing, 220 Pawtucket St., Suite M10, Lowell, MA 01854-5129.</p>"
        },
        {
            q:"How do I contact the Registrar's Office?",
            "a":"<p>You can send an email to: <a href=\"mailto:Registrar@uml.edu\">Registrar@uml.edu</a> or call 978-934-2550. &nbsp;The Registrar's office is located at the University Crossing, 220 Pawtucket St., Suite M10, Lowell, MA 01854-5129.</p>"
        },



    ]
}, data); 

%>


<div class="component faq <%= data.classes %>">

    <ul class="questions">
        <% _.each(data.qa, function(qa, index){ %>

            <li>
                <a href="#answer<%=index%>"><%=qa.q%></a>
            </li>

        <% }); %>
    </ul>


    <ul class="answers">
        <% _.each(data.qa, function(qa, index){ %>

            <li id="answer<%=index%>">
                <h2><%=qa.q%></h2>
                <%=qa.a%>
            </li>

        <% }); %>
    </ul>
    
</div>




