




<% data = _.extend({
    "url":"/test/gallery-test.xml",
    "limit":"none",
    "classes":"",
    "header":"",
}, data); %>


<div class="component photo-gallery <%=data.classes%>" data-limit="<%=data.limit%>" data-url="<%=data.url%>">

    <div class="area">



    </div>

</div>