<div class="tools">
	<ul>
		<li><a href="#">Contact</a></li>
		<li><a href="#">iSiS</a></li>
		<li><a href="#">Email</a></li>
		<li><a href="#">Blackboard</a></li> 
		<li><a href="#makeagift">Make a Gift</a></li> 
		<li><a href="/search"><i class="icon icon-search white flip-horizontal"></i></a></li>
	</ul>
</div>